
*{
    background: #000000;
    font-family: 'Prompt';
    font-weight:400;
    font-size: 32px;
    line-height: 100%;
}

.cabecera{
    color: aliceblue;
    height: 5;
    margin-bottom: 1rem;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 7.5%;
filter: invert(1);}

main{
    margin: 5% 200%;
    display: flex;
}

section {
    display: inline-grid;
    justify-content:center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
}

.text-area{
    border:inset;
    background: #000000;
    color: #ffffff;
    margin: 0px 20px 0px 20px;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    border-radius: 30px;
    text-transform: lowercase;
}

.mensaje{
    background: rgb(24, 0, 240);
    background-repeat: no-repeat;
    background-position: center;
    border: inset;
    border-radius: 30px;
    color: #b3b3b3;
    margin: 0px 20px 0px 20px;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}
.info{
    color: gray;
    font-size: 18px;
}

.botones{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

}

.btn-encriptar{
    background-color: #f76767;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 250px;

}

.btn-desencriptar{
    background: #ffffff;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 250px;

}

.copiar{
    border: 1px solid #000000;
    border-radius: 24px;
    background-color: #a8a8a8;
    color: #ffffff;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 250px;

}

footer{
    color: #ffffff;
    text-align: center;
    padding: 1% 20px;
    scroll-padding-block-end:inherit ;
    font-size-adjust: 12px;
}